.upload-page {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .create-category, .create-drill {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label {
      text-align: center;
      width: 100%;
      padding: 1rem;
    }
    &__create-section {
      width: 80%;

      button {
        width: 70%;
        margin: 20px auto;
      }
    }

    .loading-skeleton-category, .loading-skeleton-drill {
      width: 80%;
    }
  }
  .upload-not-loggedin {
    margin: 5rem;
  }

  @media (max-width: 400px) {
    flex-direction: column;
  }
}
