@import '~rsuite/dist/styles/rsuite-default.css';
@import '~carbon-components/scss/components/skeleton/_skeleton-placeholder';
@import '~bootstrap/scss/bootstrap';

.App {
  background-color: #f4f4f4;
  min-height: 100vh;
  .logged-out,.no-login {
    text-align: center;
    margin: 5rem;
  }

  .loading-skeleton-container {
    display: flex;
    justify-content: center;
    .loading-skeleton-1 {
      width: 50vw;
    }
  }

  .main-section {
    display: flex;
    flex-direction: row;
    .side-nav {
      width: 20%;
      max-width: 200px;
    }
    .main-content {
      max-width: 60%;
      margin: 0 2rem;
    }
  }
}
